.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  padding: 8px 10px;
  font-size: 13px;
  border-radius: 8px;
  border: 1px solid #ccc;

  outline: none;
  transition: 0.2s;
}

.form input:focus {
  border-color: #2193b0;
  box-shadow: 0 0 4px rgba(33, 147, 176, 0.4);
}

.btn {
  background: #2193b0;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 13px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn:hover {
  background: #176b82;
}
