.single-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f8f9fa;
  padding: 7px 10px;
  font-size: 13px;
  margin-bottom: 8px;
  border-radius: 8px;
  transition: 0.2s;
}

.single-item:hover {
  background: #e9ecef;
}

.single-item p {
  flex: 1;
  font-size: 14px;
  text-transform: capitalize;
}

.single-item a {
  text-decoration: none;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 600;
}

.single-item a:first-of-type {
  background: #ffc107;
  color: black;
}

.single-item a:first-of-type:hover {
  background: #e0a800;
}

.single-item a:last-of-type {
  background: #dc3545;
  color: white;
}

.single-item a:last-of-type:hover {
  background: #b02a37;
}
